* {
    margin: 0%;
    padding: 0%;
}
body {
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
nav {
    background-color: #f5f7f8ce;
    padding-top: 25px;
    padding-left: 30px;
    padding-bottom: 25px;
}
.icons {
    display: inline-block;
}
.icons i {
    color:black; 
    margin: 0px;
    font-size: 14px;
    padding-left: 10px;
}
.categories {
    display: inline-block;
    margin-left: 250px;
    margin-right: 34s0px;
}
.categories a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    color: black;
    padding-left: 15px;
    font-family: 'Poppins', sans-serif;
    padding-right: 15px;
}
.login-icon {
    display: inline-block;
    margin-left: 280px;
}
.login-icon a {
    text-decoration: none;
    font-size: 14px;
    color: black;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
}
.logo {
    font-size: 21px;
    margin-left: 30px;
    margin-right: 30px;
    border: none;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    
}

.content {
   margin-left: 200px;
   margin-top: 100px;
   margin-right: 800px;
   margin-bottom: 100px; ; 
}
.content-head{
    font-size: 50px;
    font-family: 'Poppins', 'sans-serif';
    padding-bottom: 0px;
    margin-bottom: 0px;
    line-height: 70px;
}
.content-body {
    margin-top: 10px;
    padding-top: 0px;
    font-size: large;
    color:#4b5563;
}
.content-footer {
    margin-top: 15px;
}
.content-footer button{
    font-size: large;
    padding-top: 7px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 7px;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
}
.icons i:hover{
    color: #06b6d4;
    font-size: 18px;
}
#active {
    color: #06b6d4;
    border-bottom:1px solid #06b6d4;
}
.categories a:hover {
    color: #06b6d4;
    border-bottom: 1px solid #06b6d4;
}
.login-icon a:hover {
    color: #06b6d4;
    border-bottom:1px solid #06b6d4;
}
.content-footer button:hover {
    background-color:#06b5d442;
}
.logo:hover {
    border-bottom: none;
}
